{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>Créer une sortie</h2>
    <div>
        {{ form_start(sortieForm) }}
        {# {{ form_widget(sortieForm) }} #}
        {{ form_errors(sortieForm) }}
        <div class="group">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.infosSortie) }}
        </div>
        <br>
        <br>

        <div class="group">
            {{ form_row(sortieForm.campus) }}
            {{ form_row(sortieForm.ville) }}
            {{ form_rest(sortieForm) }}
            <input type="submit" name="create" value="create">
            <input type="submit" name="publish" value="publish">
            <input type="submit" name="cancel" value="cancel">
        </div>
        <br>
        <br>


        {{ form_end(sortieForm) }}
        <a href="{{ path('Main') }}"><button type="button" class="btn">Annuler</button></a>
        <br>
        <br>
    </div>

{% endblock %}

