{% extends 'base.html.twig' %}

{% block title %}
Modification de la sortie
{% endblock %}


{% block body %}
    <h2>Modifier une sortie</h2>
    <div>
        {{ form_start(sortieForm) }}
        {# {{ form_widget(sortieForm) }} #}

        <div class="group">
            {{ form_row(sortieForm.nom) }}
            {{ form_row(sortieForm.dateHeureDebut) }}
            {{ form_row(sortieForm.dateLimiteInscription) }}
            {{ form_row(sortieForm.nbInscriptionsMax) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.infosSortie) }}
        </div>
        <br>
        <br>

        <div class="group">
            {{ form_row(sortieForm.campus) }}
            {{ form_row(sortieForm.ville) }}
            {{ form_rest(sortieForm) }}
            <p><span>Rue: </span><span id="rue"></span></p>
            <p><span>Code Postal: </span><span id="codePostal"></span></p>
            <p><span>Latitude: </span><span id="latitude"></span></p>
            <p><span>Longitude: </span><span id="longitude"></span></p>
            <input type="submit" name="create" value="create">
            <input type="submit" name="publish" value="publish">
            <input type="submit" name="cancel" value="cancel">
            <a href="/lieu/add"> Ajouter un lieu </a>
        </div>
        <br>
        <br>


        {{ form_end(sortieForm) }}
        <a href="{{ path('Main') }}"><button>Annuler</button></a>
        <br>
        <br>
    </div>

    <script>
        function loadLieu(){
            var requete = new XMLHttpRequest();

            document.querySelector('#rue').innerHTML = "";
            document.querySelector('#codePostal').innerHTML = "";
            document.querySelector('#longitude').innerHTML = "";
            document.querySelector('#latitude').innerHTML = "";

            requete.onload = function() {
            //La variable à passer est alors contenue dans l'objet response et l'attribut responseText.
                var lieu = JSON.parse(this.responseText);

                document.querySelector('#rue').innerHTML = lieu.rue;
                document.querySelector('#codePostal').innerHTML = lieu.codePostal;
                document.querySelector('#longitude').innerHTML = lieu.longitude;
                document.querySelector('#latitude').innerHTML = lieu.latitude;
            };
            const inputLieu = document.querySelector('.lieuInput');
            requete.open("GET", "/lieu/" + inputLieu.value, true);
            requete.send();
        }
        const inputLieu = document.querySelector('.lieuInput');
        console.log(inputLieu);
        inputLieu.addEventListener("change", function(event) {
           loadLieu();
        });
    </script>
{% endblock %}

