{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <h1>Menu administrateur</h1>
    <h2>Que souhaitez vous faire ? :</h2>
    <nav>
        <ul>
            <li>
                <a href="{{ path('Admin_register') }}" title="Go back to new registerpage">Ajout d'un nouvel utilisateur</a>
            </li>
            <li>
                <a href="{{ path('Admin_register_file') }}" title="Go back to new registerfilepage">Ajout de nouvel utilisateur(s) via un fichier</a>
            </li>
            <li>
                <a href="{{ path('Admin_deactivateUser') }}" title="Go back to deactivatepage">Désactiver un utilisateur</a>
            </li>
            <li>
                <a href="{{ path('Admin_deleteUser') }}" title="Go back to new deletepage">Supprimer un utilisateur</a>
            </li>
            <li>
                <a href="{{ path('Admin_cancelTrip') }}" title="Go back to new cancelpage">Annuler une sortie</a>
            </li>
        </ul>
    </nav>

{% endblock %}
