{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
<div class="text-center">
    <div class="m-4">
        <h1 class="text-3xl">Menu administrateur</h1>
        <h2 class="text-lg">Que souhaitez vous faire ?</h2>
    </div>
    <nav class="m-4">
        <ul>
            <li class="mt-2">
                <a href="{{ path('Admin_register') }}" title="Go back to new registerpage">Ajout d'un nouvel utilisateur</a>
            </li>
            <li class="mt-2">
                <a href="{{ path('Admin_register_file') }}" title="Go back to new registerfilepage">Ajout de nouvel utilisateur(s) via un fichier</a>
            </li>
            <li class="mt-2">
                <a href="{{ path('Admin_deactivateUser') }}" title="Go back to deactivatepage">Désactiver un utilisateur</a>
            </li>
            <li class="mt-2">
                <a href="{{ path('Admin_deleteUser') }}" title="Go back to new deletepage">Supprimer un utilisateur</a>
            </li>
            <li class="mt-2">
                <a href="{{ path('Admin_cancelTrip') }}" title="Go back to new cancelpage">Annuler une sortie</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
