<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <header>
        <div>
            <h1><a href="{{ path('Main') }}" title="Go back to homepage">Sortir.com</a></h1>
            <nav>
                <ul>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li>
                        <a href="{{ path('City') }}" title="Go back to citypage">Ville</a>
                    </li>
                    <li>
                        <a href="{{ path('Campus') }}" title="Go back to campuspage">Campus</a>
                    </li>
                    <li>
                        <a href="{{ path('Admin') }}" title="Go back to new administratorpage">Administrateur</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('Main') }}" title="Go back to homepage">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('Profil_user', {'id': app.user.id}) }}" title="Go back to profilpage">Mon profil</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}" title="logout">Se déconnecter</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        © Sortir.com {{ "now"|date("Y") }}
    </footer>

    </body>
</html>
