{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div>
    <h3>Mon profil</h3>
    <div>
        <ul>
            <li><span>Prénom:</span><span>{{user.prenom}}</span></li>
            <li><span>Nom:</span><span>{{user.nom}}</span></li>
            <li><span>Téléphone:</span><span>{{user.telephone}}</span></li>
            <li><span>Email:</span><span>{{user.email}}</span></li>
            <li><span>Campus:</span><span>{{user.campus.nom}}</span></li>
        </ul>
    </div>
    <a href="/profil/update">Modifier</a>  
</div>
{% endblock %}
