{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-xl text-gray-600">Mon profil</h2>
      <p class="text-gray-500 mb-6">Accéder à toutes mes données.</p>

      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600 text-center md:text-left">
            <p class="font-medium text-lg">Informations personnelles</p>
              <div class="my-4">
                {% if user.picture %}
                    <img class="rounded mx-auto md:mx-0" style="width: 128px;" src="/uploads/{{ user.picture.image }}" alt="">
                {% endif %}
              </div>
          </div>


          <div class="lg:col-span-2">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
              <div class="md:col-span-3">
                <label for="full_name">Mail</label>
                <p class="p-2 border mt-1 rounded px-4 w-full bg-gray-50"> {{ user.email }} </p>
              </div>

              <div class="md:col-span-2">
                <label for="full_name">Nom</label>
                <p class="p-2 border mt-1 rounded px-4 w-full bg-gray-50"> {{ user.nom }} </p>
              </div>

              <div class="md:col-span-3">
                <label for="full_name">Pseudo</label>
                <p class="p-2 border mt-1 rounded px-4 w-full bg-gray-50"> {{ user.pseudo }} </p>
              </div>

              <div class="md:col-span-2">
                <label for="full_name">Prenom</label>
                <p class="p-2 border mt-1 rounded px-4 w-full bg-gray-50"> {{ user.prenom }} </p>
              </div>

                {% if user.telephone %}
              <div class="md:col-span-3">
                <label for="full_name">Telephone</label>
                <p class="p-2 border mt-1 rounded px-4 w-full bg-gray-50"> {{ user.telephone }} </p>
              </div>
              {% endif %}

                {% if user.campus %}
                <div class="md:col-span-2">
                    <label for="full_name">Campus</label>
                    <p class="p-2 border mt-1 rounded px-4 w-full bg-gray-50"> {{ user.campus.nom }} </p>
                </div>
                {% endif %}

              <div class="md:col-span-5 text-right">
                <div class="inline-flex items-end">
                    <a href="/profil/check" class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded">Modifier</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </div>
</div>
{% endblock %}
