{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div>
    <h2>{{ user.pseudo }}</h2>
    <div>
        <ul>
            <li><span>Prénom:</span><span>{{user.prenom}}</span></li>
            <li><span>Nom:</span><span>{{user.nom}}</span></li>
            <li><span>Téléphone:</span><span>{{user.telephone}}</span></li>
            <li><span>Email:</span><span>{{user.email}}</span></li>
            <li><span>Campus:</span><span>{{user.campus.nom}}</span></li>
        </ul>
    </div>
    <img src="/uploads/{{ user.picture.image }}" alt="" width="64" height="64">
    <a href="/">Retour</a>
</div>    
{% endblock %}
